language: java

jdk:
  - openjdk11
  - openjdk15

# only build commits/PRs targeted to the master branch
# this avoids duplicate builds for push + PR
# https://github.com/travis-ci/travis-ci/issues/1147
branches:
  only:
    - master

jobs:
  include:
    - stage: Build
      script: ./gradlew build

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
